.jobs .main {
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 1fr;
  width: 100%;
}

.jobs .main .job-container {
  /* width: 600px; */
  padding: 20px;
}

.job-container .results .job-listings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}
.job-container .results .job-listings .job-listing {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.job-container .results .job-listings .job-listing:hover {
  border: solid 3px #0a4686;
}

.job-container .results .job-listings .job-listing .location{
  color: #bca0a0;
  font-size: 13px;
}
.job-container .results .job-listings .job-listing .job-description{
  color: #665858;
  
}
.job-container .results .job-listings .job-listing .job-detail {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #bca0a0;
}
.job-container .results .job-listings .job-listing .job-detail > span > span{
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-item:hover {
  background-color: #e0e0e0;
}

.pagination-item.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

.pagination button:disabled :hover {
  pointer-events: none;
  cursor:copy;
  opacity: 0.6;
  display: none;
}

.pagination .ellipsis {
  padding: 8px 12px;
  margin: 0 5px;
  border: none;
  background: none;
  color: #999;
  cursor: default;
}

.job-listing .job-actions {
  display: flex;
  justify-content: space-around;
}
.job-listing .job-actions .view-details ,
.job-listing .job-actions .apply-now {
  height: 30px;
  width: 150px;
  border: none;
  border-radius: 10px;
}
.job-listing .job-actions .view-details {
  background: transparent;
  border: 1px solid #007bff;
}
.job-listing .job-actions .apply-now {
  background: #007bff;
  color: #ffffff;
}
.job-listing .job-actions .view-details:hover {
  background: transparent;
  border: 1px solid #ffffff;
  background: #007bff;
  color: #fff;
}
.job-listing .job-actions .apply-now:hover {
  background: transparent;
  color: #000000;
  border: 1px solid #007bff;
}