.home.container{
    padding:10px;
}

.background{
    background-image: url(https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg);
    height: 80vh;
    width: 90vw;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
}
.box{
    height: 500px;
    width: 300px;
    border: 2px solid;
}

.home.container .jobs{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}